footer {
  border-top: 2px solid paleturquoise;
  background-color: lightcyan;
  width: 100%;
  margin-top: auto;
  min-height: 2em;
  display: flex;
  padding: 10px;
  a {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 5px;
    &:hover {
      background-color: paleturquoise;
    }
  }
}