.page-wrap {
  & > .table-top {
    display: flex;
    justify-content: space-between;
    & > .search {
      width: 35%;
    }
  }
  & > .table-container {
    overflow: auto;
  }
  & > * {
    display: block;
    padding: 10px 20px;
  }
}