<div class="page-wrap">
  <div class="table-top">
    <app-search-bar class="search" (searchEvent)="onSearch($event)" />
    <app-column-filter (filterColumnsEvent)="onFilterColumns($event)" />
  </div>
  <app-table
    class="table-container"
    [selectedColumns]="selectedColumns"
    [tableData]="tableDisplayData"
    (sortEvent)="onSort($event)"
  />
  <p-paginator 
    (onPageChange)="onPageChange($event)"
    [totalRecords]="totalCount"
    [rows]="rowsCount"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
  />
</div>