<article>
  <h2>Alexandra Krakovetskaya</h2>
  <h3>Middle frontend developer</h3>
  <h5>Russian Federetaion, Tomsk</h5>
  <p><b>Skills and instruments:</b> JavaScript, TypeScript, CSS, SCSS, HTML, REST API, Angular, AngularJS, RxJs, React, JQuery, SQL, C#, Git, Docker, Jira, Confluence</p>
  <p><b>Education:</b> Tomsk State University</p>
  <p>5 years of enterprise experience</p>
  <a href="https://hh.ru/resume/198d5b0dff041db26a0039ed1f6b766c64614e">HeadHunter CV <link rel="stylesheet" href=""></a>
</article>