<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="setSort(column.key)">
        <span>{{column.name}}</span>
        <img *ngIf="sortParams.sortField === column.key" [ngClass]="sortParams.sort" src="arrow.svg" >
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableData">
      <td *ngIf="selectedColumns.includes('id')">{{row.id}}</td>
      <td *ngIf="selectedColumns.includes('isActive')">{{row.isActive}}</td>
      <td *ngIf="selectedColumns.includes('balance')">{{row.balance}}</td>
      <td *ngIf="selectedColumns.includes('picture')">{{row.picture}}</td>
      <td *ngIf="selectedColumns.includes('age')">{{row.age}}</td>
      <td *ngIf="selectedColumns.includes('firstName')">{{row.firstName}}</td>
      <td *ngIf="selectedColumns.includes('lastName')">{{row.lastName}}</td>
      <td *ngIf="selectedColumns.includes('company')">{{row.company}}</td>
      <td *ngIf="selectedColumns.includes('email')">{{row.email}}</td>
      <td *ngIf="selectedColumns.includes('address')">{{row.address}}</td>
      <td *ngIf="selectedColumns.includes('tags')">{{row.tags}}</td>
      <td *ngIf="selectedColumns.includes('favoriteFruit')">{{row.favoriteFruit}}</td>
    </tr>
  </tbody>
</table>